@if (_isOpen)
{
  <div class="fade modal show" role="dialog" style="display: block; overflow-y: auto;" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">@Title</h5>
          <button aria-label="Close" class="btn-close" data-dismiss="modal" @onclick="@Close" type="button">
          </button>
        </div>

        <div class="modal-body">
          @ChildContent
        </div>

      </div>
    </div>
  </div>

  <div class="fade modal-backdrop show"></div>
}

@code {

  [Parameter]
  public string? Title { get; set; }

  [Parameter]
  public RenderFragment? ChildContent { get; set; }

  private bool _isOpen;

  public void Open()
  {
    _isOpen = true;
  }

  public void Close()
  {
    _isOpen = false;
  }

}
